<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Index">
    <meta property="og:description" content="노카 인덱스">
    <meta property="og:url" content="https://noka.moe/index">
    <title>File List</title>
</head>
<body>
    <h1>Available Links</h1>

    <ul>
        {% for key, value in data.items() %}
            <li>
                <a href="/{{ key }}"><strong>{{ key }}</strong></a><br>
                {% if "redirect" in value %}
                    Redirect to {{ value.redirect }}
                {% else %}
                    File: {{ value.path }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
